#logo{
    
    position: relative;
    margin: 0 auto;
}

.titulo{
  text-align: center; 
  text-transform: uppercase; /*mayusculas*/
  color: white;/*color de letra*/
  font-weight: bold;/*negrita*/
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(3, 21, 2);
      }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    width: 940px;
    position: relative;
    /*text-transform: uppercase; /*mayusculas*/
    color: white;/*color de letra*/
    font-weight: bold;/*negrita*/
    text-decoration: none;/*retirar el subrayado*/
  }
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
iframe {
  text-align: center;
}

  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  .schedule table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .schedule th,
  .schedule td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .schedule th {
    background-color: #a2a2f2;
  }

  .whatsapp{
    color: white;
    text-decoration: none; 
  }

  .player {
    margin-bottom: 50px;
    text-align: center;
    color: aqua;
  }
  
  .chat {
    margin-bottom: 20px;
  }
  
  .schedule h2,
  .news h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  footer {
    margin-top: 20px;
    text-align: center;
    color: white;/*color de letra*/
  }


  img {
    font-size:24px
    
  }

.carrousel{
  width: 90%;
  max-width: 120em;
  padding: 2em;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  overflow: hidden;
}

.carrousel .grande {
  width: 200%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  padding: 2em;
  transition: all 0.5s ease;
  transform: translateX(0%);
}

.carrousel .img {
  width: calc( 100% / 2 - 2em);
  min-height: 10vh;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .puntos {
  width: 100%;
  margin: 1em 0 0;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.carrousel .punto {
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 0.6em 0.6em 1.2em var(--sombra-ppal), -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .punto.activo {
  background-color: lightblue;
}
